
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Js/jquery.min.js"></script>
    <link href="~/Css/Login.css" rel="stylesheet" />
    <script src="~/Js/Login.js"></script>
    <title>Index</title>
</head>
<body>
    <div class="page">
        <div class="container">
            <div class="left">
                <div class="login">DEMO</div>
                <div style="text-align:center;"><b>Output</b> : </div><br/><div id="resultdiv" class="eula" style="color:black"></div>
            </div>
            <div class="right">
                
                <div class="form">
                    <label for="text">Enter Your Name</label>
                    <input type="text" id="name">
                    <label for="text">Enter Currency Number</label>
                    <input type="text" id="number">
                    <input type="submit" id="submit" value="Submit">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
