<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceNumberToWords" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58267/ServiceNumberToWords.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceNumberToWords"
                contract="ServiceReferenceUnitTest.IServiceNumberToWords"
                name="BasicHttpBinding_IServiceNumberToWords" />
        </client>
    </system.serviceModel>
</configuration>